{% extends 'base.html.twig' %}
{% block title %}Blog - Posts{% endblock %}
{% block body %}
    <section class="mt-4">
        <div class="max-w-3xl mx-auto">
            <div class="mb-8">
                <span class="font-bold">
                    <a href={{ path('app_home') }}>Home</a>
                    <span class="text-xl"> > </span>
                    <a href={{ path('app_post') }}>Posts</a>
                    {% if posts.currentPageNumber != 1 %}
                        <span class="text-xl"> > </span>
                        <a href={{ path('app_post') }}>Pagina {{ posts.currentPageNumber }}</a>
                    {% endif %}
                </span>
            </div>
            <h1 class="text-xl mb-8 font-bold">Posts ({{ posts.getTotalItemCount }})</h1>
            <ul class="mt-4">
                {% include "components/_posts.html.twig" with posts %}
            </ul>
            <div class="navigation">
                {{ knp_pagination_render(posts) }}
            </div>
        </div>
    </section>
{% endblock %}
