{% extends 'base.html.twig' %}
{% block title %}Posts - François{% endblock %}
{% block body %}
    <section class="mt-4">
        <div class="max-w-3xl mx-auto">
            <div class="mb-8">
                <span class="link-blog">
                    <a class="link-blog-path" href={{ path('app_home') }}>Home</a>
                    <span class="text-xl"> > </span>
                    <a class="link-blog-path" href={{ path('app_post') }}>Posts</a>
                    {% if pagination.currentPageNumber != 1 %}
                        <span class="text-xl"> > </span>
                        <a class="link-blog-path" href={{ path('app_post') }}>Pagina {{ pagination.currentPageNumber }}</a>
                    {% endif %}
                </span>
            </div>
            <h1 class="ultimi-post-title text-xl mb-8">Posts ({{ pagination.getTotalItemCount }})</h1>
            <ul class="mt-4">
                {% include "components/_posts.html.twig" with pagination %}
            </ul>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </section>
{% endblock %}
