{% extends 'base.html.twig' %}
{% block title %}Blog - Posts{% endblock %}
{% block body %}
    <section class="max-w-3xl mx-auto mt-4 section-show-post">
		{% for message in app.flashes('success') %}
			<div class="bg-green-100 rounded-lg py-5 px-6 mb-3 text-base text-green-700 inline-flex items-center w-full" role="alert">
				<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-circle" class="w-4 h-4 mr-2 fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
					<path fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path>
				</svg>
				{{ message }}
			</div>
        {% endfor %}
		<a href={{ path('app_post_show', { slug : post.slug }) }}><h2 class="font-extrabold post-title-post text-3xl my-8">{{ post.title }}</h2></a>
		<div class="dark:text-gray-400 text-gray-500 text-sm italic"><i class="fas fa-calendar-days"> </i> {{ post.createdAt|date("F j, Y | g:i a") }}</div>
		<div class=" mt-8 flex home-social">
			{# <span class="mr-3">Condividere post su </span> #}
			<a target="_blank" class="mr-3" href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url('app_show', {slug: post.slug}) }}"><i class="fab fa-facebook-f"></i></a>
			<a target="_blank" class="mr-3" href="https://twitter.com/intent/tweet?text={{ post.title | url_encode }}%20{{ absolute_url('app_show', {slug: post.slug}) }}%20"><i class="fab fa-twitter"></i></a>
		</div>
        <div class="post-content-post my-8">{% autoescape false %}{{ post.content }}{% endautoescape %}</div>
		<ul class="flex flex-col post-tag-post sm:flex-row font-bold">
			{% for tag in post.tags %}
				<li>
					<a href="{{ path('app_tag_show', { slug : tag.slug }) }}" class="px-2">#{{ tag.name }}</a>
				</li>
			{% endfor %}
		</ul>
		{% if comments|length > 0 %}
			<div class="mb-4">
				{% for comment in comments %}
					<div class="mt-8">
						<p class="section-comment-pseudo">{{ comment.pseudo}}</p>
						<p class="dark:text-gray-400 text-gray-500 text-sm italic">Pubblicato il {{ comment.createdAt | date("F j, Y") }}</p>
					</div>
					<div class="mt-2">
						<p class="section-comment-color"><i class="fas fa-comment-dots"></i> {{ comment.content }}</p>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		<!-- Button trigger modal -->
		<button type="button" class="my-4 px-6
			py-2.5
			bg-[#617389]
			text-white
			font-medium
			text-xs
			leading-tight
			uppercase
			rounded
			shadow-md
			hover:bg-[#617389]-700 hover:shadow-lg
			focus:bg-[#617389]-700 focus:shadow-lg focus:outline-none focus:ring-0
			active:bg-[#617389]-800 active:shadow-lg
			transition
			duration-150
			ease-in-out" data-bs-toggle="modal" data-bs-target="#modalComment">
		Scrivere un commento
		</button>
		<!-- Modal -->
		<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
			id="modalComment" tabindex="-1" aria-labelledby="modalCommentLabel" aria-hidden="true">
			<div class="modal-dialog relative w-auto pointer-events-none">
				<div
				class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-[#2f3741] bg-clip-padding rounded-md outline-none text-current">
					<div
						class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
						<h5 class="text-xl font-medium leading-normal text-white" id="modalCommentLabel">Scrivere un commento</h5>
						<button type="button"
						class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
						data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body relative p-4">
						{{ form(form) }}
					</div>
				</div>
			</div>
		</div>
    </section>
{% endblock %}
