{% extends 'base.html.twig' %}
{% block title %}Blog - Tags{% endblock %}
{% block body %}
    <section class="mt-4">
        <div class="max-w-3xl mx-auto">
            <div class="mb-8">
                <span class="font-bold">
                    <a href={{ path('app_home') }}>Home</a>
                    <span class="text-xl"> > </span>
                    <a href={{ path('app_post') }}>Tags</a>
                    <span class="text-xl"> > </span>
                    <a href="{{ path('app_tag_show', { slug : tag.slug }) }}" class="px-2">#{{ tag.name }}</a>
                </span>
            </div>
            <div class="mt-4">
                <h1 class="text-xl mb-8">Posts con il tag : #{{ tag.name }}</h1>
                <ul class="mt-4">
                    {% include "components/_posts.html.twig" with posts %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
